<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>Welcome, Admin</h1>
    <br>
    <div style="align-items: center; vertical-align: middle; align-self: center; align-content: center;">
       <a href="/list">
       <button class="button" style="vertical-align:middle;">View All Flights</button>
       </a>
       <br> <br>
       <a href="/create">
       <button class="button" style="vertical-align:middle;">Create A New Flight</button>
       </a>
       <br> <br>
       <a href="/search">
       <button class="button" style="vertical-align:middle;">Search For an Existing Flight</button>
       </a>
       <br> <br>
    </div> 


</body>
</html>