<!DOCTYPE html>
<html>
<body>

<h2>Create A Flight</h2>

<form action="/create" method="POST">
  <label for="from">From:</label><br>
  <input type="text" id="from" name="from"><br>
  <label for="To">To:</label><br>
  <input type="text" id="To" name="To"><br>
  <label for="FlightDate">Flight Date:</label><br>
  <input type="text" id="FlightDate" name="FlightDate"><br>
  <label for="EconomySeatsAvailable">Economy Seats Available:</label><br>
  <input type="text" id="EconomySeatsAvailable" name="EconomySeatsAvailable"><br>
  <label for="BusinessSeatsAvailable">Business Seats Available:</label><br>
  <input type="text" id="BusinessSeatsAvailable" name="BusinessSeatsAvailable"><br>
  <label for="FirstSeatsAvailable">First Seats Available:</label><br>
  <input type="text" id="FirstSeatsAvailable" name="FirstSeatsAvailable"><br>
  <label for="FlightNumber">Flight Number:</label><br>
  <input type="text" id="FlightNumber" name="FlightNumber"><br>
  <input type="submit" value="Create">
</form> 

</body>
</html>